In [1]:
import pandas as pd
import os
import filecmp
import re
import numpy as np

In [2]:
from chord_rec_lib import dnames, format_name

In [3]:
HEAD_DIR = '..'
for d in dnames:
    dnames[d] = os.path.join(HEAD_DIR, dnames[d])

# Загрузка данных

## Billboard DS

In [17]:
bb_files = []
cdir = dnames['BB_DS_DIR']
for f in filter(lambda x: os.path.isdir(os.path.join(cdir, x)), os.listdir(cdir)):
    nf = os.path.join(cdir, f)
    bb_files += list(map(lambda x: os.path.join(nf,x), os.listdir(nf)))

In [18]:
bb_ds = pd.DataFrame()
cdir = dnames['BB_DS_DIR']
for fname in bb_files:
    with open(fname) as f:
        try:
            number, title, artist, metric, tonic = [None]*5
            number = re.findall(r'\d{4}', fname)[0]
            title = f.readline().split(': ')[1].strip(' \n')
            artist = f.readline().split(': ')[1].strip(' \n')
            mertric = f.readline().split(': ')[1].strip(' \n')
            tonic = f.readline().split(': ')[1].strip(' \n')
            bb_ds = bb_ds.append({'title':title,'artist':artist, 'number':number, 'orig_ds': 'Billboard',
                                  'orig_fname': fname[len(cdir)+1:]},ignore_index=True)
        except Exception as e:
            print(fname)
            print(e)

..\base_data\McGill-Billboard\0050\salami_chords (2).txt
list index out of range
..\base_data\McGill-Billboard\0067\salami_chords (2).txt
list index out of range
..\base_data\McGill-Billboard\0213\salami_chords (2).txt
list index out of range
..\base_data\McGill-Billboard\0241\salami_chords (2).txt
list index out of range
..\base_data\McGill-Billboard\0251\salami_chords (2).txt
list index out of range
..\base_data\McGill-Billboard\0261\salami_chords (2).txt
list index out of range
..\base_data\McGill-Billboard\0331\salami_chords (2).txt
list index out of range
..\base_data\McGill-Billboard\0345\salami_chords (2).txt
list index out of range
..\base_data\McGill-Billboard\0494\salami_chords (2).txt
list index out of range
..\base_data\McGill-Billboard\0590\salami_chords (2).txt
list index out of range
..\base_data\McGill-Billboard\0650\salami_chords (2).txt
list index out of range
..\base_data\McGill-Billboard\0672\salami_chords (2).txt
list index out of range
..\base_data\McGill-Billboard\0727\salami_chords (2).txt
list index out of range
..\base_data\McGill-Billboard\0761\salami_chords (2).txt
list index out of range
..\base_data\McGill-Billboard\0777\salami_chords (2).txt
list index out of range
..\base_data\McGill-Billboard\0787\salami_chords (2).txt
list index out of range
..\base_data\McGill-Billboard\0813\salami_chords (2).txt
list index out of range
..\base_data\McGill-Billboard\0896\salami_chords (2).txt
list index out of range
..\base_data\McGill-Billboard\0904\salami_chords (2).txt
list index out of range
..\base_data\McGill-Billboard\0948\salami_chords (2).txt
list index out of range
..\base_data\McGill-Billboard\0964\salami_chords (2).txt
list index out of range
..\base_data\McGill-Billboard\0965\salami_chords (2).txt
list index out of range
..\base_data\McGill-Billboard\1037\salami_chords (2).txt
list index out of range
..\base_data\McGill-Billboard\1045\salami_chords (2).txt
list index out of range
..\base_data\McGill-Billboard\1103\salami_chords (2).txt
list index out of range
..\base_data\McGill-Billboard\1239\salami_chords (2).txt
list index out of range

In [28]:
cdir = dnames['BB_PARS_DS_DIR']
for idx, row in bb_ds.iterrows():
    fname = os.path.join(cdir,row['orig_fname'].replace('salami_chords.txt', 'full.lab'))
    fname = os.path.join(cdir, row['number'], 'full.lab')
    with open(fname) as f:
        lines = f.readlines()
        line = ''
        while len(line)==0:
            line = lines.pop().strip()
        bb_ds.loc[idx, 'duration'] = round(float(line.split()[1]),0)
bb_ds['duration'] = bb_ds['duration'].astype('int')

In [29]:
bb_ds.to_csv(os.path.join(dnames['CSVS_DIR'], 'bb_ds_songlist.csv'))

In [30]:
bb_ds.shape

(890, 6)

In [31]:
bb_ds.head()

,artist,number,orig_ds,orig_fname,title,duration
0,James Brown,0003,Billboard,0003\salami_chords.txt,I Don't mind,151
1,Roberta Flack and Donny Hathaway,0004,Billboard,0004\salami_chords.txt,You've got a Friend,207
2,Bette Midler,0006,Billboard,0006\salami_chords.txt,The Rose,221
3,Billy Joel,0010,Billboard,0010\salami_chords.txt,An Innocent Man,318
4,Johnny Lee,0012,Billboard,0012\salami_chords.txt,Lookin' for Love,212

## Chordlib DS

In [32]:
def find_files(dname, frmt=None):
    files = []
    for f in os.listdir(dname):
        fname = os.path.join(dname, f) 
        if os.path.isfile(fname):
            if frmt:
                if fname.endswith(frmt):
                    files.append(fname)
            else:
                files.append(fname)
        else:
            files += find_files(fname, frmt)
    return files

In [34]:
cdir = dnames['CL_DS_DIR']
files = find_files(cdir, frmt='lab')

cl_ds = pd.DataFrame()
for fname in np.array(files):#[np.random.randint(0,len(files),10)]:
    artist = fname.split('\\')[3]
    title = fname.split('\\')[-1]
    title = re.sub(r'[-_]', ' ', title).strip()[:-4]
    title = re.sub(r'\b\d{1,2}', ' ', title, count=1).strip()
    title = re.sub(r'CD\d?', ' ', title).strip()
    
    with open(fname)as f:
        try:
            lines = f.readlines()
            line = ''
            while len(line)==0:
                line = lines.pop().strip()
            duration = int(round(float(line.split()[1]),0))
        except Exception as e:
            print(fname)
            print(e)
    data = {'artist': artist,
            'title': title,
            'duration': duration,
            'orig_ds':'chordlib',
            'orig_fname':fname[len(cdir)+1:]}
    cl_ds = cl_ds.append(data, ignore_index=True)
cl_ds['duration'] = cl_ds['duration'].astype('int')

..\base_data\chordlab\Queen\Greatest Hits II\05 I Want To Break Free (2).lab
list index out of range
..\base_data\chordlab\The Beatles\01_-_Please_Please_Me\01_-_I_Saw_Her_Standing_There (2).lab
list index out of range
..\base_data\chordlab\The Beatles\01_-_Please_Please_Me\13_-_There's_A_Place (2).lab
list index out of range
..\base_data\chordlab\The Beatles\03_-_A_Hard_Day's_Night\12_-_You_Can't_Do_That (2).lab
list index out of range
..\base_data\chordlab\The Beatles\04_-_Beatles_for_Sale\01_-_No_Reply (2).lab
list index out of range
..\base_data\chordlab\The Beatles\06_-_Rubber_Soul\08_-_What_Goes_On (2).lab
list index out of range
..\base_data\chordlab\The Beatles\06_-_Rubber_Soul\14_-_Run_For_Your_Life (2).lab
list index out of range
..\base_data\chordlab\The Beatles\12_-_Let_It_Be\11_-_For_You_Blue (2).lab
list index out of range

In [35]:
cl_ds.to_csv(os.path.join(dnames['CSVS_DIR'], 'cl_ds_songlist.csv'))

In [36]:
cl_ds.shape

(215, 5)

## Uniting datasets

In [38]:
united_ds = pd.concat([bb_ds, cl_ds])
united_ds.index = range(len(united_ds))
united_ds['id'] = united_ds.index
united_ds.head()

,artist,duration,number,orig_ds,orig_fname,title,id
0,James Brown,151,0003,Billboard,0003\salami_chords.txt,I Don't mind,0
1,Roberta Flack and Donny Hathaway,207,0004,Billboard,0004\salami_chords.txt,You've got a Friend,1
2,Bette Midler,221,0006,Billboard,0006\salami_chords.txt,The Rose,2
3,Billy Joel,318,0010,Billboard,0010\salami_chords.txt,An Innocent Man,3
4,Johnny Lee,212,0012,Billboard,0012\salami_chords.txt,Lookin' for Love,4

In [39]:
united_ds.to_csv(os.path.join(dnames['CSVS_DIR'], 'united_ds_songlist.csv'))

In [40]:
united_ds = pd.read_csv(os.path.join(dnames['CSVS_DIR'], 'united_ds_songlist.csv'), index_col=0)

In [41]:
united_ds.head()

,artist,duration,number,orig_ds,orig_fname,title,id
0,James Brown,151,3.0,Billboard,0003\salami_chords.txt,I Don't mind,0
1,Roberta Flack and Donny Hathaway,207,4.0,Billboard,0004\salami_chords.txt,You've got a Friend,1
2,Bette Midler,221,6.0,Billboard,0006\salami_chords.txt,The Rose,2
3,Billy Joel,318,10.0,Billboard,0010\salami_chords.txt,An Innocent Man,3
4,Johnny Lee,212,12.0,Billboard,0012\salami_chords.txt,Lookin' for Love,4

In [42]:
united_ds.head()

,artist,duration,number,orig_ds,orig_fname,title,id
0,James Brown,151,3.0,Billboard,0003\salami_chords.txt,I Don't mind,0
1,Roberta Flack and Donny Hathaway,207,4.0,Billboard,0004\salami_chords.txt,You've got a Friend,1
2,Bette Midler,221,6.0,Billboard,0006\salami_chords.txt,The Rose,2
3,Billy Joel,318,10.0,Billboard,0010\salami_chords.txt,An Innocent Man,3
4,Johnny Lee,212,12.0,Billboard,0012\salami_chords.txt,Lookin' for Love,4

In [43]:
united_ds['artist'] = united_ds['artist'].map(format_name)
united_ds['title'] = united_ds['title'].map(format_name)

In [44]:
united_ds.head()

,artist,duration,number,orig_ds,orig_fname,title,id
0,james_brown,151,3.0,Billboard,0003\salami_chords.txt,i_don't_mind,0
1,roberta_flack_and_donny_hathaway,207,4.0,Billboard,0004\salami_chords.txt,you've_got_a_friend,1
2,bette_midler,221,6.0,Billboard,0006\salami_chords.txt,the_rose,2
3,billy_joel,318,10.0,Billboard,0010\salami_chords.txt,an_innocent_man,3
4,johnny_lee,212,12.0,Billboard,0012\salami_chords.txt,lookin'_for_love,4

In [45]:
united_ds.to_csv(os.path.join(dnames['CSVS_DIR'], 'united_ds_songlist.csv'))

# Проверка есть ли одинаковые файлы
### Спойлер - есть

In [46]:
united_ds.shape

(1105, 7)

In [47]:
united_ds[['artist', 'title']].duplicated().sum()

158

In [48]:
counts = united_ds.groupby(['artist','title', 'orig_ds']).agg('count')['id']
counts[counts>1].sort_values(ascending=False).index.levels[0]

Index(['25_or_6_to_4', 'a_taste_of_honey', 'abba', 'aerosmith', 'al_green',
       'alabama', 'alan_o'day', 'alice_cooper',
       'always_something_there_to_remind_me', 'andy_gibb',
       ...
       'wednesday', 'wham!', 'whitesnake', 'wild_cherry', 'willie_mitchell',
       'wilson_phillips', 'wilson_pickett', 'yaz', 'young_mc', 'zz_top'],
      dtype='object', name='artist', length=443)

In [49]:
united_ds = united_ds[[not x for x in united_ds[['artist','title']].duplicated()]]
united_ds.shape

(947, 7)

In [50]:
united_ds.index = range(len(united_ds))
united_ds['id'] = united_ds.index

In [51]:
united_ds.head()

,artist,duration,number,orig_ds,orig_fname,title,id
0,james_brown,151,3.0,Billboard,0003\salami_chords.txt,i_don't_mind,0
1,roberta_flack_and_donny_hathaway,207,4.0,Billboard,0004\salami_chords.txt,you've_got_a_friend,1
2,bette_midler,221,6.0,Billboard,0006\salami_chords.txt,the_rose,2
3,billy_joel,318,10.0,Billboard,0010\salami_chords.txt,an_innocent_man,3
4,johnny_lee,212,12.0,Billboard,0012\salami_chords.txt,lookin'_for_love,4

In [52]:
united_ds.to_csv(os.path.join(dnames['CSVS_DIR'], 'united_ds_songlist.csv'))